/***********************************************************************************/

/*                                                                                 */

/*                           Customize your css here                               */

/*                                                                                 */

/***********************************************************************************/
.head_logo img{
  width: auto;
  display: block;
  margin:0 auto;
}
.price-wrapper .add_to_cart_button{
  display: block;
  width: 60px;
  height: 60px;
  background: url(../../img/button_addToCard.png) no-repeat;
}
